<div class="game-metrics">
    <p class="game-label">Next Piece</p>
    <div class="next-piece"></div>
    <div class="level-container">
        <div class="lvl-label-container"><p class="game-label">Level:</p></div>
        <div class="level">{{level}}</div>
    </div>
    <div class="lines-container">
        <div class="lns-label-container"><p class="game-label">Lines:</p></div>
        <div class="lines">{{lines}}</div>
    </div>
</div>